database.inc
database.inc.hosted-backup
data-location.json
debug.txt
mutex_file.txt
smarty/templates_c/*
www/upload/files/*
!www/upload/files/.htaccess
build/mac/
build/dist/
.DS_Store
build/mac-launcher/SOPlanning
